<section data-ng-controller="InmueblesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Inmuebles</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="inmueble in inmuebles" data-ng-href="#!/inmuebles/{{inmueble._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="inmueble.created | date:'medium'"></span>
				by
				<span data-ng-bind="inmueble.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="inmueble.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!inmuebles.$resolved || inmuebles.length">
    	No Inmuebles yet, why don't you <a href="/#!/inmuebles/create">create one</a>?
    </div>
</section>